@page
@model PrivacyModel
@{
    ViewData["Title"] = "Finalize Order";
}
<div class="container">
    <h1>@ViewData["Title"]</h1>
</div>

<div class="container">
    <div class="row">&nbsp;</div>
    <div class="row">&nbsp;</div>
    <div class="row">
        <div class="col-6">
            <input type="button" id="sendOrder" value="Finalize Order" />
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <hr />
    </div>
</div>
<div class="row">
    <div class="col-6">
        <ul id="messagesList"></ul>
    </div>
</div>
<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/order.js"></script>
